* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    background-position: center;
}

#canvas {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#center {
    width: 42vh;
    height: 42vh;
    object-position: center;
    border-color: pink;
}